/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-brand,
  .navbar-brand:hover {
    color: #ffffff;
    font-size: 1.8rem;
    padding-left: 3vw;
    cursor: pointer;
  }

  .nav-item {
    padding-right: 4vw;
  }

  .nav-item i {
    margin-top: 1.5vh;
  }

  .intro {
    height: 90vh;
  }

  .intro h1 {
    top: 10vh;
    left: 4vw;
    width: 65vw;
    font-size: 5.3rem;
  }

  .intro button,
  .intro button:hover {
    top: 15vh;
    border-radius: 20px;
    height: 10vh;
    font-size: 1.5rem;
  }

  .intro button:nth-child(2) {
    width: 30vw;
    left: 4vw;
  }

  .intro button:nth-child(3) {
    width: 13vw;
    left: 6vw;
  }

  .intro .hand1 {
    right: 0vw;
    top: 40vh;
    width: 40vw;
  }

  .intro .cup {
    right: 13vw;
    top: 15vh;
    width: 40vw;
  }
}
