/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-brand,
  .navbar-brand:hover {
    color: #ffffff;
    font-size: 3.5vh;
    padding-left: 3vw;
    cursor: pointer;
  }

  .nav-item {
    padding-left: 3vw;
  }

  .nav-item i {
    display: none;
  }

  .intro {
    height: 92vh;
    background-color: black;
  }

  .intro h1 {
    top: 35vh;
    left: 4vw;
    font-size: 5.2vw;
  }

  .intro button,
  .intro button:hover {
    top: 40vh;
    border-radius: 20px;
    height: 10vh;
    font-size: 1.7vw;
  }

  .intro button:nth-child(2) {
    width: 22.5vw;
    left: 4vw;
  }

  .intro button:nth-child(3) {
    width: 13vw;
    left: 6vw;
  }

  .intro .hand1 {
    right: 0vw;
    top: 40vh;
    width: 40vw;
  }

  .intro .cup {
    right: 13vw;
    top: 20vh;
    width: 40vw;
  }
}
