@font-face {
  font-family: Quicksand-Regular;
  src: url("resources/Quicksand-Regular.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Quicksand-Regular;
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.navbar {
  position: relative;
  width: 100vw;
  background-color: #0b423b;
}

.navbar-brand,
.navbar-brand:hover {
  color: #ffffff;
  font-size: 4vh;
  padding-left: 3vw;
  cursor: pointer;
}

.nav-link,
.nav-link:hover {
  color: #ffffff;
  cursor: pointer;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(238, 237, 238)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
  padding-right: 4vw;
}

.nav-item i {
  margin-top: 0.8vw;
  color: #ffffff;
  cursor: pointer;
}

.intro {
  position: relative;
  width: 100vw;
  background-color: #14cc60;
}

.intro h1 {
  position: relative;
  top: 35vh;
  left: 4vw;
  font-size: 10vh;
  color: #0a2e36;
}

.intro button,
.intro button:hover {
  position: relative;
  top: 40vh;
  background-color: #0a2e36;
  color: #ffffff;
  border-radius: 20px;
  width: 25vw;
  height: 10vh;
  font-size: 3vh;
}

.intro button:nth-child(2) {
  left: 4vw;
}

.intro button:nth-child(3) {
  left: 7vw;
}

.services {
  position: relative;
  width: 100vw;
  background-color: #f5f5f5;
  border-bottom: 0.5px solid #101010;
  background-color: yellow;
}

.services .container {
  position: relative;
  top: 15vh;
}

.services .container .row:nth-child(1) {
  background-color: green;
}

.services .container .row:nth-child(1) .col-lg img {
  width: 7vw;
  background-color: blue;
}

.services .container .row:nth-child(1) .col-lg h6 {
  color: #101010;
  background-color: aqua;
}

.services .container .row:nth-child(2) {
  height: 50vh;
  background-color: brown;
}

.services .container .row:nth-child(2) .col-lg h1 {
  position: absolute;
  top: 22.5vh;
  left: 5vw;
  font-size: 10vh;
  color: #14cc60;
  background-color: red;
}

.services .container .row:nth-child(2) .col-lg h1 span {
  color: #101010;
}

.services .container .row:nth-child(2) .col-lg h2 {
  position: absolute;
  top: 23vh;
  left: 21vw;
  font-size: 3vh;
  color: #0a2e36;
  text-align: end;
  background-color: black;
}

.services .container .row:nth-child(2) .col-lg p {
  position: absolute;
  top: 23.5vh;
  left: 15vw;
  font-size: 1.5vh;
  color: #0a2e36;
  text-align: start;
  background-color: #14cc60;
}

.services .container .row:nth-child(2) .col-lg a {
  position: absolute;
  top: 31vh;
  left: 15vw;
  font-size: 1.8vh;
  color: #0a2e36;
  text-decoration: underline;
  cursor: pointer;
  background-color: aqua;
}

.process {
  position: relative;
  width: 100vw;
  background-color: #f5f5f5;
  background-color: green;
}

.process .container {
  position: relative;
  top: 15vh;
  left: 0vw;
}

.process .container .row .col-lg:nth-child(1) {
  background-color: aliceblue;
}

.process .container .row .col-lg:nth-child(2) {
  background-color: aquamarine;
}

.process .container .row .col-lg:nth-child(1) img {
  position: absolute;
  top: 0vh;
  left: 0vw;
  background-color: #0a2e36;
}

.process .container .row .col-lg:nth-child(2) .row:nth-child(1) {
  background-color: blueviolet;
}

.process .container .row .col-lg:nth-child(2) .row:nth-child(1) h1 {
  position: relative;
  left: 7vw;
  font-size: 5vh;
  color: #0a2e36;
  background-color: red;
}

.process .container .row .col-lg:nth-child(2) .row img {
  width: 7vw;
  background-color: blue;
}

.process .container .row .col-lg:nth-child(2) .row h2 {
  position: absolute;
  margin-top: 0vh;
  margin-left: 7vw;
  font-size: 3vh;
  height: 4vh;
  color: #101010;
  background-color: cadetblue;
}

.process .container .row .col-lg:nth-child(2) .row p {
  position: absolute;
  margin-top: 4vh;
  margin-left: 7vw;
  font-size: 2vh;
  color: #101010;
  background-color: burlywood;
}

.mdi-36px {
  font-size: 39px;
  margin-right: 10px;
}

.process .container .row .col-lg:nth-child(2) .row button:nth-child(1) {
  position: absolute;
  margin-top: 7vh;
  left: 2vw;
  cursor: pointer;
}

.process .container .row .col-lg:nth-child(2) .row button:nth-child(2) {
  position: absolute;
  margin-top: 7vh;
  left: 14vw;
  cursor: pointer;
}

.process .contactUs {
  position: absolute;
  bottom: 3vh;
  width: 100vw;
  color: #0a2e36;
  background-color: #ffffff;
}

.process .contactUs a,
.process .contactUs a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pricing {
  position: relative;
  width: 100vw;
  background-color: #f5f5f5;
}

.partners {
  position: relative;
  width: 100vw;
  background-color: #d9d9d9;
}

.footer {
  position: relative;
  width: 100vw;
  background-color: #0a2e36;
  color: #ffffff;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
